* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
Main Color: #0891b2
Grey Color: #374151;
*/

body {
  font-family: "Roboto", sans-serif;
  color: #374151;
  border-bottom: 8px solid #0891b2;
}

.container {
  width: 1057px;
  margin: 0px auto;
}

/* Section 1 - Header Section */

.header-section {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-top: 48px;
  margin-bottom: 80px;
}

.main-headline {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.3px;
  font-size: 44px;
  margin-bottom: 24px;
}

.main-description {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  margin-bottom: 32px;
}

.btn--big {
  background-color: #0891b2;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: #6bbdd1;
  box-shadow: 10px 5px 20px rgba(107, 189, 209, 0.603);
}

.img-main-chair {
  border-radius: 14px;
}

/* Section 2 - Details Section */

.details-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 80px;
  margin-bottom: 80px;
}

.details-headline {
  font-size: 36px;
  margin-bottom: 32px;
}

.box-icon {
  margin-bottom: 24px;
  background-color: #e6f4f7;
  border-radius: 4px;
}

.box-headline {
  font-size: 20px;
  margin-bottom: 16px;
}
.box-text {
  font-size: 18px;
  line-height: 1.7;
}

/* Section 3 - Testimonial Section */

.testimonial-section {
  background-color: #0891b2;
  color: #e6f4f7;
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 14px;

  gap: 64px;
  margin-bottom: 80px;
}

.testimonial-section img {
  width: 200px;
  border-radius: 14px;
}

.testimonial-headline {
  font-size: 32px;
  margin-bottom: 16px;
}

.testimonial-text {
  font-size: 24px;
  line-height: 1.7;
  margin-bottom: 16px;
}

.testimonial-quote {
  font-size: 16px;
  color: #b5dee8;
}

/* Section 4 - Bestsellers Section */
.bestselling-headline {
  font-size: 42px;
  margin-bottom: 42px;
}

.bestsellers-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 60px;
  margin-bottom: 80px;
}

.chair-card {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  border-radius: 14px;
}

.card-contents {
  padding: 32px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.card-list {
  list-style: none;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 18px;
}

.card-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #0891b2;
}

.bestsellers-section img {
  width: 313px;
  height: 245px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  /* margin-bottom: 16px; */
}

.chair-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 48px; */
  font-size: 24px;
}
.btn--small {
  background-color: #0891b2;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 50px;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #495057;
}
